.container{
    width:200px;
    height: 200px;
    border: 1px solid green;
    background-color: rgb(191, 191, 241);
}
.label{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    background-color: rgb(78, 78, 209);
    transition: width 5s, height 5s,transform 2s;
}
.label:hover{
    width: 100px;
    height: 100px;
    transform: rotate(360deg) scale(.75);
}